/* ------------ARTICLE 1------------ */
.art_picture {
    width: 70%;
}

.art_description {
    margin : 15px;
}

/* REPONSIVE ARTICLE 1 */
@media (max-width: 649px) {
    .art_picture{
        transform: translateX(20%);
    }
}

@media (min-width: 650px ) {
    .article_1 {
        width: 90%;
        display: flex;
        text-align: end;
    }

    .article_1--Secondary {
        flex-direction: row-reverse;
        text-align: start;
    }

    .art_picture {
        width: 50vh;
        object-fit: cover;
    }
}



/* ------------ARTICLE 2------------ */
.article_2{
    text-align: center;
}

.car{
    width: 100%;
    position: relative;
    height: 100px;
    overflow-x: hidden;
}

#boite {
    position: absolute;
    width: 100px;
    height: 100px;
    animation-name: redBox;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  @keyframes redBox {
    0% {
      left: -200px;
    }
    100% {
      left: calc(100% + 100px);
    }
  }

