hr {
    width: 35%;
}

section {
    margin: 40px auto;
    width: 90%;
}

.button {
    display: inline-block;
	background-color: #affc41;
	padding: 8px 20px;
	border-radius: 15px;
	color: #2c3e4a;
	font-weight: bold;
    margin-top: 30px;
}
